.product-page {
  flex-direction: row;
  padding: 6rem 10rem;
}

.product-page-image {
  width: 450px;
  height: 450px;
  border-radius: 20px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-container {
  display: flex;
  gap: 10px;
}
