@import '../../variables';

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  transition: transform 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.product-image {
  width: 200px;
  height: 200px;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 5px;
  color: $text-color;

  .rating-star {
    width: 25px;
  }
}

.product-title {
  font-size: 20px;
  text-align: center;
}

.product-price {
  color: $primary-color;
  font-size: 20px;
  font-weight: 600;
}
