@import '../../variables';

.header {
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
  margin: auto;
  max-width: 1600px;
}
.nav-bar {
  display: flex;
  align-items: center;
  gap: 20px;
  color: $text-color;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  margin-left: auto;

  .nav-pages {
    display: flex;
    gap: 20px;
  }

  .nav-link {
    text-decoration: none;
    color: $text-color;

    &:hover {
      opacity: 0.8;
    }
  }

  .active {
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
    font-weight: 700;
  }

  .bag-icon {
    width: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  .circle {
    position: absolute;
    right: -15px;
    top: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $text-color;
    color: $background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .header {
    padding: 1rem 1rem;
  }
  .line-container {
    display: flex;
  }
  .nav-bar {
    margin-left: auto;
    .nav-pages {
      display: none;
      flex-direction: column;
    }
    .circle {
      right: 27px;
    }
  }
}
