@import '../../styles';

.home-page {
  display: flex;
  flex-direction: column;
  padding: 6rem 4rem;
  gap: 100px;
  max-width: 1600px;
}

.section {
  margin-bottom: 6rem;
}

.section-heading {
  font-size: 40px;
  color: $text-color-secondary;
  margin-bottom: 2rem;
}

.text-description {
  font-size: 18px;
  color: $text-color;
}

.text-margin {
  margin-bottom: 4rem;
}

.medium-icon {
  width: 40px;
}

.landing-section {
  display: flex;
  justify-content: space-between;
  color: $text-color;

  .landing-heading {
    font-size: 72px;
    color: $text-color-secondary;
    margin: 2rem 0 1rem 0;
  }

  .landing-image {
    width: 600px;
    height: auto;
    border-radius: 20px;
  }

  .landing-description {
    margin-bottom: 5rem;
    font-size: 18px;
  }
  .landing-stats {
    display: flex;
    gap: 30px;
    margin-top: 5rem;
  }

  .stat-number {
    font-size: 38px;
    color: $text-color-secondary;
  }

  .stat-text {
    font-size: 20px;
  }
}

.popular-products-section {
  .products-container {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}

.about-section {
  .info-blocks-container {
    display: flex;
    justify-content: stretch;
    gap: 30px;

    .info-block {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      text-align: center;
      padding: 5rem 2rem;
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);

      .info-block-heading {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 22px;
      }
    }
  }
}

.testimonials-section {
  align-self: center;
  text-align: center;

  .testimonials-block-container {
    display: flex;

    .testimonial-block {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 4rem;
      .person-photo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .home-page {
    align-items: center;
    padding: 0 2rem;
    .landing-section {
      flex-direction: column;

      .landing-image {
        width: 300px;
      }
    }
  }
}
